.landing {
    height: 90vh;
}

.action-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 0;
    padding: 5px 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.action-button:hover {
    background-color: gray;
    transition: all 0.5s;
}