<section class="w-full landing flex flex-wrap-reverse items-center">
    <div class="h-full-media w-half-media flex flex-col items-center justify-center">
        <h1>Moein Pourhamzeh</h1>
        <p class="w-half">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt obcaecati iusto nulla dignissimos. Ratione eum consequuntur minima unde voluptatum aut. Id laudantium quam natus ut nemo quidem minima porro dolorem!</p>
        <button class="action-button">Contact Me</button>
    </div>
    <div class="h-full-media w-half-media flex flex-col items-center justify-center">
        <img src="../../../assets/illustration.png" alt="illustration" class="w-half">
    </div>
</section>
