/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 0;
    background-color: black;
    color: white;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.w-half-media {
    width: 50%;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-row {
    flex-flow: row;
}

.flex-col {
    flex-flow: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.gap-10 {
    gap: 10px;
}

.rounded {
    border-radius: 5px;
}

.p-10 {
    padding: 10px;
}

.py-10 {
    padding: 10px 0;
}

.bg-primary {
    background-color: darkcyan;
}

.text-white {
    color: white;
}

@media (max-width: 768px) {
    .w-half-media {
        width: 100%;
    }
    .h-full-media {
        height: auto;
    }
}
